body, html {
  margin: 0;
  padding: 20px;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}